<nav class="navbar">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="brand">
        <a
          class="navbar-brand"
          href="#"
          data-aos="fade-right"
          data-aos-duration="3000"
        >
          <span (click)="closeMenu()" routerLink="/" class="logoText"
            >WSMS
            &nbsp;VIKI</span
          ></a
        >
      </li>

      <li class="burger" (click)="toggleMenu()">
        <i
          style="color: var(--mainBlackColor)"
          class="fa-solid"
          [ngClass]="{ 'fa-x': isMenuOpen, 'fa-bars': !isMenuOpen }"
        ></i>
      </li>
    </ul>
    <ul class="menu" [class.is-open]="isMenuOpen">
      <li>
        <a routerLink="/products-list" (click)="closeMenu()" class="navigation">
          Products
        </a>
      </li>
      <li *ngIf="!userData">
        <a class="nav-item navigation" routerLink="/login" (click)="closeMenu()"
          >Login</a
        >
      </li>
      <li *ngIf="userData">
        <a
          routerLink="/dashboard/user-info"
          (click)="closeMenu()"
          class="nav-item dropdown"
        >
          <span class="navigation">{{ getUserDisplayName() }}</span>
        </a>
      </li>

      <!-- search -->

      <!-- <li class="dropdown" (click)="toggleSearch()">
        <a class="navigation search-btn"> Search </a>
      </li>

      <div class="search" *ngIf="isSearchOpen">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="input-wrapper">
            <input
              class="header-user-search"
              type="search"
              aria-label="Search"
              formControlName="search"
              required
              minlength="3"
              placeholder="Search..."
            />
            <button class="search-btn" type="submit" (click)="closeMenu()">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>

      <div
        class="search-errors"
        *ngIf="searchForm.get('search')?.touched && isSearchOpen"
      >
        <div
          class="errors"
          *ngIf="searchForm.get('search')?.errors?.['required']"
        >
          What are you searching for?
        </div>

        <div
          class="errors"
          *ngIf="searchForm.get('search')?.errors?.['minlength']"
        >
          Min length is a 3 char!
        </div>
      </div> -->

      <li>
        <a *ngIf="userData" class="nav-item navigation" (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>